# Java / Maven
target/
*.class
.mvn/wrapper/maven-wrapper.jar

# Node
node_modules/

# IDE
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# SO
.DS_Store
Thumbs.db

# Logs e temporarios
*.log
tmp/
